#product-list {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .product h2 {
    margin-top: 0;
  }
  
  .product p {
    margin-bottom: 5px;
  }
  
  .product .btn-delete {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }