body{
    height: 70%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

button {
    float: right;
    border: none;
    margin-bottom: 2rem;
    
}
button a {
    list-style: none;
    text-decoration: none;
    color: black;
}
h2{
    height: 70%;
    
    padding-top: 0;
   color: green;

}
.table{
    margin-top: 3rem;
}